input:focus {
	outline: none;
}
pre {
	display: inline;
	background-color: rgba(255, 255, 255, .2);
	padding: .5em;
}
.color {
	padding: .5em;
	margin-right: .4em;
	border: 1px solid #aaa;
	border-radius: 3px;
	width: 140px;
}
